.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.item { }
.imageWrap { position: relative; width: 100%; height: 140px; border-radius: 14px; overflow: hidden; border: 1px solid rgba(0,0,0,0.06); }
.image { object-fit: cover; }

@media (min-width: 600px) {
  .grid { grid-template-columns: repeat(3, 1fr); }
  .imageWrap { height: 160px; }
}

@media (min-width: 900px) {
  .imageWrap { height: 200px; }
}
